{% extends 'base.html' %}

{% block css %} 


{% endblock %}

{% block html %}
<div class="col-sm-6 col-sm-offset-3">

  <h1>Service</h1>

  <!-- OUR FORM -->
  <form action="#" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
      <!--TITLE-->
      <div id="name-group" class="form-group">
          <label for="name">title</label>
          <input type="text" class="form-control" name="title" placeholder="title">
          <!-- errors will go here -->
      </div>
      <!--DESCRIPTION-->
      <div id="name-group" class="form-group">
        <label for="name">description</label>
        <input type="text" class="form-control" name="description" placeholder="description">
        <!-- errors will go here -->
      </div>

      <div class="form-group">
        <label for="exampleFormControlFile1">File</label>
        <input type="file" class="form-control-file">
      </div>

      <div class="form-group">
        <label for="name">Category</label>
        <select class="category">
          <option style="display:none" selected value=1 name='category'  id="myData">Select Category</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Skill</label>
        <select class="skill">
          <option style="display:none" selected value=1 name='skill'  id="skillData">Select Skill</option>
        </select>
      </div>

      
      <button type="submit" class="btn btn-success">Submit <span class="fa fa-arrow-right"></span></button>

  </form>

</div>

{% endblock %}

{% block js %}
  <script>
    url='http://127.0.0.1:8000/api/v1/category/'
    fetch(url)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
          function appendData(data) {
            var mainContainer = document.getElementById("myData");
            
            for (var i = 0; i < data.length; i++) {
              $('select').append(`<option value=${data[i].id} >${data[i].title}</option>`)
            }
          }
  </script>
  <script>

    url='http://127.0.0.1:8000/api/v1/service/'
    $(document).ready(function() {
     
      $('form').submit(function(event) {
          var formData = {
              'title'        : $('input[name=title]').val(),
              'description'  : $('input[name=description]').val(),
              // 'image'        : $('input[type=file]')[0].files[0],
              'category'     : $('select.category').val(),
              'skill'     : $('select.skill').val()
          };
          console.log(formData);
          $.ajax({
            url:new_url,
            method: 'POST',
            data:formData,
            // cache:false,
            // contentType: "application/json; charset=utf8",
            // processData: false,
            
            success: function(response){
                alert('Mehsul yaradildi');
            },
            error: function(error_response){
              console.log(error_response);
              alert('Error bas verdi');
            }
            
          })
                 
            event.preventDefault();
        });

      });
    
    </script>
 
{% endblock %}

