{% extends 'base.html' %}

{% block css %} 


{% endblock %}

{% block html %}
<div class="col-sm-6 col-sm-offset-3">

  <h1>Processing an AJAX Form</h1>

  <!-- OUR FORM -->
  <form action="#" method="POST">
    {% csrf_token %}
      <!--TITLE-->
      <div id="name-group" class="form-group">
          <label for="name">title</label>
          <input type="text" class="form-control" name="title" placeholder="title">
          <!-- errors will go here -->
      </div>
      <!--DESCRIPTION-->
      <div id="name-group" class="form-group">
        <label for="name">description</label>
        <input type="text" class="form-control" name="title" placeholder="description">
        <!-- errors will go here -->
      </div>

      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>

      

      
      <button type="submit" class="btn btn-success">Submit <span class="fa fa-arrow-right"></span></button>

  </form>

</div>

{% endblock %}

{% block js %}
  <script>

    url='http://127.0.0.1:8000/api/v1/service/'
    $(document).ready(function() {

      // process the form
      $('form').submit(function(event) {

          // get the form data
          // there are many ways to get this data using jQuery (you can use the class or id also)
          var formData = {
              'title'              : $('input[name=title]').val(),
              'description'             : $('input[name=description]').val(),
              'description'             : $('input[name=description]').val(),
              'image'              : $('input[type=file]')[0].files[0],
          };

          // process the form
          $.ajax({
              type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
              url         : url,
              data        : formData, // our data object
              dataType    : 'json', // what type of data do we expect back from the server
                          encode          : true
          })
              // using the done promise callback
              .done(function(data) {

                  // log data to the console so we can see
                  console.log(data);

                  // here we will handle errors and validation messages
              });

          // stop the form from submitting the normal way and refreshing the page
          event.preventDefault();
      });

      });
    
  </script>
{% endblock %}