{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">



{% endblock %}

{% block html %}
<div class="search_header">
    <h2>Senin için en iyi ilan ve freelancer’ları bulduk!</h2>
    <input class="search" type="text" name="" id="">
    <div class="align-center">
        <div class="flex-column search_select_con">
            <p>Select category</p>
            <select name="" id="">
                <option selected value="">All</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex-column search_select_con">
            <p>Select subcategory</p>
            <select name="" id="">
                <option selected value="">All</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="search_results">
    <div class="card">
        asd
    </div>
    <div class="card">
        asd
    </div>
    <div class="card">
        asd
    </div>
    <div class="card">
        asd
    </div>
    <div class="card">
        asd
    </div>
</div>
{% endblock %}

{% block js %}
    
{% endblock %}


